@media screen and (max-width:660px) {
    .linksmenu{
        display: none;
    }

    header{
        display: block;
        justify-content: center;
    }

    .linksresponsive{
        display: inline;
    }
}